@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700");

body {
  background-color: white;
  font-family: "Anonymous Pro", monospace;
}

.aa {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
