@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Oswald:700");

.aa {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.soundtrack {
  background-color: rgb(249, 246, 243);
  font-family: "Anonymous Pro", monospace;
}

.soundtrack .display {
  font-family: "Oswald";
}

.soundtrack .track {
  transition: box-shadow 0.2s, transform 1s;
  transform-style: preserve-3d;
}

.soundtrack .track:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.soundtrack .track__front,
.soundtrack .track__back {
  backface-visibility: hidden;
  transform: rotateX(0);
}

.soundtrack .track--flipped,
.soundtrack .track__back {
  transform: rotateY(180deg);
}

.soundtrack .track__info {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  backface-visibility: hidden;
}

.soundtrack .player {
  height: 220px;
}
